doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dance Academy | Home
//-   link(rel='stylesheet' href='..\static\style.css')
style
   include ..\static\style.css
//-   link(rel='stylesheet' href='index.js')
nav#navbar
  ul
    #logo
      img(src='/static/logo.png' alt='')
      |                 SDA
    li
      a(href='/') Home
    li
      a(href='/') About
    li
      a(href='/') Services
    li
      a(href='/') Class Info
    li
      a(href='/') Contact Us
section#intro
  div Welcome to Singh Dance Academy
  .ed Eat Dance Sleep Repeat
section#mission
  h2 Our Mission
  #card
    h3 Dance Perfection
    #card-box
      #card-img
        img(src='/static/i2.jpg' alt='')
      #card-content
        p This is the best Dance Academy in Purvanchal
  #card
    h3 Dance the way you Like
    #card-box
      #card-img
        img(src='/static/i3.jpg' alt='')
      #card-content
        p This is the best Dance Academy in Purvanchal
  #card
    h3 Expert Teaching
    #card-box
      #card-img
        img(src='/static/i4.jpg' alt='')
      #card-content
        p This is the best Dance Academy in Purvanchal
section#sponser
  h2 Our Sponsers
  #spnsrs
    img.spImage(src='/static/l1.png' alt='Sponsers Image')
    img.spImage(src='/static/l2.jpeg' alt='Sponsers Image')
    img.spImage(src='/static/l3.png' alt='Sponsers Image')
    img.spImage(src='/static/l4.jpeg' alt='Sponsers Image')
    img.spImage(src='/static/l5.png' alt='Sponsers Image')
footer#footer
  a(href='#') FAQ
  a(href='#') Privacy Policy
  h4.hhh All Right Reserved
  a.copyright.flex_align(href='#') &copy; 2023 | Singh Dance Academy