<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Academy | Home</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.js">
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="../static/logo.png" alt="">
                SDA
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <section id="intro">
        <div>Welcome to Singh Dance Academy</div>
        <div class="ed">Eat Dance Sleep Repeat</div>
    </section>
    <section id="mission">
        <h2>Our Mission</h2>
        <div id="card">
            <h3>Dance Perfection</h3>
            <div id="card-box">
                <div id="card-img">
                    <img src="../static/i2.jpg" alt="">
                </div>
                <div id="card-content">
                    <p>This is the best Dance Academy in Purvanchal</p>
                </div>
            </div>
        </div>
        <div id="card">
            <h3>Dance the way you Like</h3>
            <div id="card-box">
                <div id="card-img">
                    <img src="../static/i3.jpg" alt="">
                </div>
                <div id="card-content">
                    <p>This is the best Dance Academy in Purvanchal</p>
                </div>
            </div>
        </div>
        <div id="card">
            <h3>Expert Teaching</h3>
            <div id="card-box">
                <div id="card-img">
                    <img src="../static/i4.jpg" alt="">
                </div>
                <div id="card-content">
                    <p>This is the best Dance Academy in Purvanchal</p>
                </div>
            </div>
        </div>
    </section>
    <section id="sponser">
        <h2>Our Sponsers</h2>
        <div id="spnsrs">
            <img src="../static/l1.png" alt="Sponsers Image" class="spImage">
            <img src="../static/l2.jpeg" alt="Sponsers Image" class="spImage">
            <img src="../static/l3.png" alt="Sponsers Image" class="spImage">
            <img src="../static/l4.jpeg" alt="Sponsers Image" class="spImage">
            <img src="../static/l5.png" alt="Sponsers Image" class="spImage">
        </div>
    </section>
    <footer id="footer">
        <a href="#">FAQ</a>
        <a href="#">Privacy Policy</a>
        <h4 class="hhh">All Right Reserved</h4>
        <a class="copyright flex_align" href="#">&copy; 2023 | Singh Dance Academy</a>
    </footer>
</body>
</html>